body{
	background-color: limegreen;
	color: black;
	text-align: center;
	align-items: center;
}

#yank{
	color: darkblue;
}

#bronk{
	color: orange;
}

#steal{
	color: black;
}

#Lake{
	color: purple;
}

#Air{
	color: darkgreen;
}

#Paints{
	color: white;
}

#Yellow{
	color: yellow;
}

#Chickens{
	color: blue;
}